/**
 * @name Discord Midnight Nocturne
 * @author Krazytrain
 * @description A well balanced, customizable midnight Discord theme with some addons.
 * @invite rMJ7sNatA2
 **/
/*==================================================
=             Main Theme Link  DONT DELETE         =
==================================================*/
@import url('https://krazytrain.github.io/Midnight/Midnight-Master/Master.css');
:root { 
     --theme-name: 'Nocturne';
/*=================================================
=               Hide Button Options               =
=     If you want to hide a button put "none"     =
=    If you want to unhide a button put "block"   =
==================================================*/

    /* Chat bar buttons */
    --gift-button: none;
    --sticker-button: block;
    --gif-button: block;
    --emoji-button: block;
    --message-options-button: block;
    --app-launcher-button: block;

    /* DM top bar buttons */
    --voice-call-button: block;
    --video-call-button: block;
    --create-group-button: block;
    --user-profile-button: block;

    /* Server top bar buttons */
    --server-thread-button: block;
    --server-notification-button: none;
    --server-pin-button: block;
    --server-hide-memberlist-button: block;

    /* Friend page buttons */
    --friends-button: block;
    --nitro-button: none;
    --message-requests-button: block;
    --shop-button: none;
    --play-again-buttons: block;

    /* Server List buttons */
    --server-discoverable-button: block;
    --server-create-button: block;

    /* Other Buttons */
    --activity-list-buttons: block;
    --inbox-button: block;
    --reactions-on-hover-message: none;

/*=================================================
=                                                 =
=                  Color Options                  =
=                                                 =
==================================================*/

    /* color of status indicators and window controls */
    --online-indicator: #57f287; /* change to #23a55a for default green */
    --dnd-indicator: #ed4245; /* change to #f23f43 for default red */
    --idle-indicator: #fee75c; /* change to #f0b232 for default yellow */
    --streaming-indicator: #5865f2; /* change to #593695 for default purple */

    /* accent colors */
    --accent-1: hsl(235, 86%, 75%); /* hsl(0, 25%, 65%); */ /* links */
    --accent-2: #eb3d40; /* hsl(0, 43%, 67%); */ /* general unread/mention elements */
    --accent-3: hsl(235, 86%, 65%); /* hsl(0, 43%, 67%); */ /* accent buttons */
    --accent-4: hsl(235, 76%, 55%); /* hsl(0, 37%, 60%); */ /* accent buttons when hovered */
    --accent-5: hsl(235, 66%, 45%); /* hsl(0, 31%, 53%); */ /* accent buttons when clicked */
    --mention: hsla(39.89, 78.17%, 55.1%, 0.1); /* mentions & mention messages */
    --mention-hover: hsla(39.89, 78.17%, 55.1%, 0.05); /* mentions & mention messages when hovered */

    /* text colors */
    --text-0: white; /* text on colored elements */
    --text-1: white; /* other normally white text */
    --text-2: hsl(230, 6%, 90%); /* headings and important text */
    --text-3: hsl(230, 6%, 85%); /* normal text */
    --text-4: hsl(230, 6%, 54%); /* icon buttons and channels */
    --text-5: hsl(230, 6%, 35%); /* muted channels/chats and timestamps */

    /* Message indicator colors */
    --indicator-hover: var(--hover); /* Hover color */
    --indicator-unread-border: hsl(0, 0%, 66%); /* Border of unread */
    --indicator-unread-background: hsl(0, 0%, 66%, 0.3); /* Background of unread */
    --indicator-unread-hover-background: hsl(0, 0%, 66%, 0.2); /* Hover background of unread */
    --indicator-unread-mention-border: hsl(359, 81%, 58%); /* Border of mention */
    --indicator-unread-mention-background: hsl(359, 81%, 58%, 0.3); /* Background of mention */
    --indicator-unread-mention-hover-background: hsl(359, 81%, 58%, 0.2); /* Hover background of mention */
    --indicator-selected-border: hsl(235, 86%, 65%); /* Border of selected */
    --indicator-selected-background: hsl(235, 86%, 65%, 0.5); /* Background of selected */
    --indicator-selected-hover-background: hsl(235, 86%, 65%, 0.4); /* Hover background of selected */
    --indicator-connected-border: hsl(145, 35%, 55%); /* Border of connected voice channel */
    --indicator-connected-background: hsla(145, 22%, 34%, 0.3); /* Background of connected voice channel */
    --indicator-connected-hover-background: hsl(145, 22%, 34%, 0.2); /* Hover backgroundd of connected voice channel */

    /* background and dark colors */
    --bg-1: hsl(230, 10%, 20%); /* dark buttons when clicked */
    --bg-2: hsl(230, 10%, 16%); /* dark buttons */
    --bg-3: hsl(240, 12%, 8%); /* spacing, secondary elements */
    --bg-4: hsl(230, 10%, 12%); /* main background color */
    --hover: hsla(230, 6%, 54%, 0.2); /* buttons when hovered */
    --message-hover: hsla(0, 0%, 0%, 0.1); /* messages when hovered */

    /* direct messages moon icon */
    /* change to block to show, none to hide */
    --discord-icon: none; /* discord icon */
    --moon-icon: none; /* moon icon */
    --moon-icon-url: none;
    --moon-icon-size: auto;
}
.childWrapper__6e9f8:has(> svg:not(.favoriteIcon_c9fddf)) {
    background-image: url('https://www.svgrepo.com/show/353904/insomnia.svg');
    background-color: transparent !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
