/**
 * @name Discord Midnight Default
 * @author Krazytrain
 * @description A well balanced, customizable midnight Discord theme with some addons.
 * @invite rMJ7sNatA2
 **/
/*==================================================
=             Main Theme Link  DONT DELETE         =
==================================================*/
@import url('https://krazytrain.github.io/Midnight/Midnight-Master/Master.css');
:root { 
     --theme-name: 'Midnight';
/*=================================================
=               Hide Button Options               =
=     If you want to hide a button put "none"     =
=    If you want to unhide a button put "block"   =
==================================================*/

    /* Chat bar buttons */
    --gift-button: none;
    --sticker-button: block;
    --gif-button: block;
    --emoji-button: block;
    --message-options-button: block;
    --app-launcher-button: block;

    /* DM top bar buttons */
    --voice-call-button: block;
    --video-call-button: block;
    --create-group-button: block;
    --user-profile-button: block;

    /* Server top bar buttons */
    --server-thread-button: block;
    --server-notification-button: none;
    --server-pin-button: block;
    --server-hide-memberlist-button: block;

    /* Friend page buttons */
    --friends-button: block;
    --nitro-button: none;
    --message-requests-button: block;
    --shop-button: none;
    --play-again-buttons: block;

    /* Server List buttons */
    --server-discoverable-button: block;
    --server-create-button: block;

    /* Other Buttons */
    --activity-list-buttons: block;
    --inbox-button: block;
    --reactions-on-hover-message: none;

/*=================================================
=                                                 =
=                  Color Options                  =
=                                                 =
==================================================*/

    /* color of status indicators and window controls */
    --online-indicator: var(--accent-2); /* change to #23a55a for default green */
    --dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
    --idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
    --streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

    /* accent colors */
    --accent-1: hsl(190, 70%, 60%); /* links */
    --accent-2: hsl(190, 70%, 48%); /* general unread/mention elements */
    --accent-3: hsl(190, 70%, 42%); /* accent buttons */
    --accent-4: hsl(190, 70%, 36%); /* accent buttons when hovered */
    --accent-5: hsl(190, 70%, 30%); /* accent buttons when clicked */
    --mention: hsla(190, 80%, 52%, 0.1); /* mentions & mention messages */
    --mention-hover: hsla(190, 80%, 52%, 0.05); /* mentions & mention messages when hovered */

    /* text colors */
    --text-0: white; /* text on colored elements */
    --text-1: var(--text-2); /* other normally white text */
    --text-2: hsl(220, 25%, 70%); /* headings and important text */
    --text-3: hsl(220, 15%, 60%); /* normal text */
    --text-4: hsl(220, 15%, 40%); /* icon buttons and channels */
    --text-5: hsl(220, 15%, 45%); /* muted channels/chats and timestamps */

    /* Message indicator colors */
    --indicator-hover: var(--hover); /* Hover color */
    --indicator-unread-border: hsl(224, 11%, 38%); /* Border of unread */
    --indicator-unread-background: hsl(224, 11%, 38%, 0.3); /* Background of unread */
    --indicator-unread-hover-background: hsl(224, 11%, 38%, 0.2); /* Hover background of unread */
    --indicator-unread-mention-border: hsl(190, 70%, 48%); /* Border of mention */
    --indicator-unread-mention-background: hsl(190, 70%, 48%, 0.3); /* Background of mention */
    --indicator-unread-mention-hover-background: hsl(190, 70%, 48%, 0.2); /* Hover background of mention */
    --indicator-selected-border: hsl(190, 70%, 42%); /* Border of selected */
    --indicator-selected-background: hsl(190, 70%, 42%, 0.6); /* Background of selected */
    --indicator-selected-hover-background: hsl(190, 70%, 42%, 0.5); /* Hover background of selected */
    --indicator-connected-border: hsl(145, 35%, 55%); /* Border of connected voice channel */
    --indicator-connected-background: hsla(145, 22%, 34%, 0.3); /* Background of connected voice channel */
    --indicator-connected-hover-background: hsl(145, 22%, 34%, 0.2); /* Hover backgroundd of connected voice channel */

    /* background and dark colors */
    --bg-1: hsl(234, 13%, 31%); /* dark buttons when clicked */
    --bg-2: hsl(237, 16%, 23%); /* dark buttons */
    --bg-3: hsl(240, 21%, 12%); /* spacing, secondary elements */
    --bg-4: hsl(240, 21%, 15%); /* main background color */
    --hover: hsla(237, 18%, 53%, 0.1); /* channels and buttons when hovered */
    --active: hsla(235, 15%, 53%, 0.0); /* channels and buttons when clicked or selected */
    --message-hover: hsla(240, 0%, 0%, 0.1); /* messages when hovered */
}