/**
 * @name Discord Midnight Vencord
 * @author Krazytrain
 * @description A well balanced, customizable midnight Discord theme with some addons.
 * @invite rMJ7sNatA2
 **/
/*==================================================
=             Main Theme Link  DONT DELETE         =
==================================================*/
@import url('https://krazytrain.github.io/Midnight/Midnight-Master/Master.css');
:root { 
     --theme-name: 'Vencord';
/*=================================================
=               Hide Button Options               =
=     If you want to hide a button put "none"     =
=    If you want to unhide a button put "block"   =
==================================================*/

    /* Chat bar buttons */
    --gift-button: none;
    --sticker-button: block;
    --gif-button: block;
    --emoji-button: block;
    --message-options-button: block;
    --app-launcher-button: block;

    /* DM top bar buttons */
    --voice-call-button: block;
    --video-call-button: block;
    --create-group-button: block;
    --user-profile-button: block;

    /* Server top bar buttons */
    --server-thread-button: block;
    --server-notification-button: none;
    --server-pin-button: block;
    --server-hide-memberlist-button: block;

    /* Friend page buttons */
    --friends-button: block;
    --nitro-button: none;
    --message-requests-button: block;
    --shop-button: none;
    --play-again-buttons: block;

    /* Server List buttons */
    --server-discoverable-button: block;
    --server-create-button: block;

    /* Other Buttons */
    --activity-list-buttons: block;
    --inbox-button: block;
    --reactions-on-hover-message: none;

/*=================================================
=                                                 =
=                  Color Options                  =
=                                                 =
==================================================*/

    /* color of status indicators and window controls */
    --online-indicator: #89b481; /* change to #23a55a for default green */
    --dnd-indicator: #d3869b; /* change to #f23f43 for default red */
    --idle-indicator: #d8a656; /* change to #f0b232 for default yellow */
    --streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

    /* accent colors */
    --accent-1: #7caea3; /* links */
    --accent-2: hsl(343.6, 46.7%, 67.6%); /* general unread/mention elements */
    --accent-3: hsl(343.6, 46.7%, 67.6%); /* accent buttons */
    --accent-4: hsl(343.6, 46.7%, 67.6%); /* accent buttons when hovered */
    --accent-5: hsl(343.6, 46.7%, 61.6%); /* accent buttons when clicked */
    --mention: hsla(343.6, 46.7%, 61.6%, 0.1); /* mentions & mention messages */
    --mention-hover: hsla(343.6, 46.7%, 61.6%, 0.05); /* mentions & mention messages when hovered */

    /* text colors */
    --text-0: var(--bg-4); /* text on colored elements */
    --text-1: var(--text-2); /* other normally white text */
    --text-2: hsl(37, 40%, 84%); /* headings and important text */
    --text-3: hsl(37, 40%, 72%); /* normal text */
    --text-4: hsl(37, 20%, 60%); /* icon buttons and channels */
    --text-5: #d4be9866; /* muted channels/chats and timestamps */

    /* Message indicator colors */
    --indicator-hover: var(--hover); /* Hover color */
    --indicator-unread-border: hsl(344, 11%, 47%); /* Border of unread */
    --indicator-unread-background: hsl(344, 11%, 47%, 0.3); /* Background of unread */
    --indicator-unread-hover-background: hsl(344, 11%, 47%, 0.2); /* Hover background of unread */
    --indicator-unread-mention-border: hsl(343.6, 46.7%, 67.6%); /* Border of mention */
    --indicator-unread-mention-background: hsl(343.6, 46.7%, 67.6%, 0.3); /* Background of mention */
    --indicator-unread-mention-hover-background: hsl(343.6, 46.7%, 67.6%, 0.2); /* Hover background of mention */
    --indicator-selected-border: hsl(343.6, 46.7%, 67.6%); /* Border of selected */
    --indicator-selected-background: hsl(343.6, 46.7%, 67.6%, 0.5); /* Background of selected */
    --indicator-selected-hover-background: hsl(343.6, 46.7%, 67.6%, 0.4); /* Hover background of selected */
    --indicator-connected-border: hsl(145, 35%, 55%); /* Border of connected voice channel */
    --indicator-connected-background: hsla(145, 22%, 34%, 0.3); /* Background of connected voice channel */
    --indicator-connected-hover-background: hsl(145, 22%, 34%, 0.2); /* Hover backgroundd of connected voice channel */

    /* background and dark colors */
    --bg-1: hsl(0, 0%, 25%); /* dark buttons when clicked */
    --bg-2: hsl(20, 5%, 22%); /* dark buttons */
    --bg-3: hsl(10, 3%, 20%); /* spacing, secondary elements */
    --bg-4: hsl(0, 0%, 16%); /* main background color */
    --hover: rgba(160, 130, 120, 0.1); /* channels and buttons when hovered */
    --message-hover: hsla(0, 0%, 0%, 0.1); /* messages when hovered */

    /* direct messages moon icon */
    /* change to block to show, none to hide */
    --discord-icon: none; /* discord icon */
    --moon-icon: none; /* moon icon */
    --moon-icon-url: none;
    --moon-icon-size: auto;
}
.childWrapper_f90abb:has(> svg:not(.favoriteIcon_dcc7a4)) {
    background-image: url('https://beta.install.vencord.dev/icon.png');
    background-color: transparent !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}