/**
 * @name Discord Midnight Rose Pine
 * @author Krazytrain
 * @description A well balanced, customizable midnight Discord theme with some addons.
 * @invite rMJ7sNatA2
 **/
/*==================================================
=             Main Theme Link  DONT DELETE         =
==================================================*/
@import url('https://krazytrain.github.io/Midnight/Midnight-Master/Master.css');
:root { 
     --theme-name: 'Rose Pine';
/*=================================================
=               Hide Button Options               =
=     If you want to hide a button put "none"     =
=    If you want to unhide a button put "block"   =
==================================================*/

    /* Chat bar buttons */
    --gift-button: none;
    --sticker-button: block;
    --gif-button: block;
    --emoji-button: block;
    --message-options-button: block;
    --app-launcher-button: block;

    /* DM top bar buttons */
    --voice-call-button: block;
    --video-call-button: block;
    --create-group-button: block;
    --user-profile-button: block;

    /* Server top bar buttons */
    --server-thread-button: block;
    --server-notification-button: none;
    --server-pin-button: block;
    --server-hide-memberlist-button: block;

    /* Friend page buttons */
    --friends-button: block;
    --nitro-button: none;
    --message-requests-button: block;
    --shop-button: none;
    --play-again-buttons: block;

    /* Server List buttons */
    --server-discoverable-button: block;
    --server-create-button: block;

    /* Other Buttons */
    --activity-list-buttons: block;
    --inbox-button: block;
    --reactions-on-hover-message: none;

/*=================================================
=                                                 =
=                  Color Options                  =
=                                                 =
==================================================*/

    /* color of status indicators and window controls */
    --online-indicator: hsl(189, 43%, 73%); /* change to #23a55a for default green */
    --dnd-indicator: hsl(343, 76%, 68%); /* change to #f23f43 for default red */
    --idle-indicator: hsl(35, 88%, 72%); /* change to #f0b232 for default yellow */
    --streaming-indicator: hsl(267, 57%, 78%); /* change to #593695 for default purple */

    /* accent colors */
    --accent-1: hsl(2, 65%, 88%); /* links */
    --accent-2: hsl(2, 55%, 83%); /* general unread/mention elements */
    --accent-3: hsl(2, 55%, 83%); /* accent buttons */
    --accent-4: hsl(2, 66%, 75%); /* accent buttons when hovered */
    --accent-5: hsl(3, 53%, 67%); /* accent buttons when clicked */
    --mention: hsl(2, 55%, 83%, 0.08); /* mentions & mention messages */
    --mention-hover: hsl(2, 55%, 83%, 0.04); /* mentions & mention messages when hovered */

    /* text colors */
    --text-0: hsl(249, 22%, 12%); /* text on colored elements */
    --text-1: hsl(245, 50%, 91%); /* other normally white text */
    --text-2: hsl(245, 50%, 91%); /* headings and important text */
    --text-3: hsl(245, 50%, 91%); /* normal text */
    --text-4: hsl(248, 15%, 61%); /* icon buttons and channels */
    --text-5: hsl(249, 12%, 47%); /* muted channels/chats and timestamps */

    /* Message indicator colors */
    --indicator-hover: var(--hover); /* Hover color */
    --indicator-unread-border: hsl(0, 8%, 35%); /* Border of unread */
    --indicator-unread-background: hsl(0, 8%, 35%, 0.3); /* Background of unread */
    --indicator-unread-hover-background: hsl(0, 8%, 35%, 0.2); /* Hover background of unread */
    --indicator-unread-mention-border: hsl(2, 55%, 83%); /* Border of mention */
    --indicator-unread-mention-background: hsl(2, 55%, 83%, 0.3); /* Background of mention */
    --indicator-unread-mention-hover-background: hsl(2, 55%, 83%, 0.2); /* Hover background of mention */
    --indicator-selected-border: hsl(2, 55%, 83%); /* Border of selected */
    --indicator-selected-background: hsl(2, 55%, 83%, 0.5); /* Background of selected */
    --indicator-selected-hover-background: hsl(2, 55%, 83%, 0.4); /* Hover background of selected */
    --indicator-connected-border: hsl(145, 35%, 55%); /* Border of connected voice channel */
    --indicator-connected-background: hsla(145, 22%, 34%, 0.3); /* Background of connected voice channel */
    --indicator-connected-hover-background: hsl(145, 22%, 34%, 0.2); /* Hover backgroundd of connected voice channel */

    /* background and dark colors */
    --bg-1: hsl(249, 15%, 28%); /* dark buttons when clicked */
    --bg-2: hsl(248, 25%, 18%); /* dark buttons */
    --bg-3: hsl(247, 23%, 15%); /* spacing, secondary elements */
    --bg-4: hsl(249, 22%, 12%); /* main background color */
    --hover: hsl(247, 23%, 15%); /* buttons when hovered */
    --message-hover: hsl(249, 22%, 11%); /* messages when hovered */

    /* direct messages moon icon */
    /* change to block to show, none to hide */
    --discord-icon: none; /* discord icon */
    --moon-icon: none; /* moon icon */
    --moon-icon-url: none;
    --moon-icon-size: auto;
}
.childWrapper_f90abb:has(> svg:not(.favoriteIcon_dcc7a4)) {
    background-image: url('https://raw.githubusercontent.com/rose-pine/rose-pine-theme/main/assets/icon.png');
    background-color: transparent !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}