/**
 * @name Midnight Addon Default
 * @author Krazytrain
 * @description A well balanced, customizable midnight Discord theme with some addons.
 **/
/*==================================================
=             Main Theme Link  DONT DELETE         =
==================================================*/
@import url('https://krazytrain.github.io/Visual-Addons/Visual-Master/Addons-Links.css');
:root { 
     --theme-name: 'Midnight';
/*=================================================
=               Hide Button Options               =
=     If you want to hide a button put "none"     =
=    If you want to unhide a button put "block"   =
==================================================*/

    /* Chat bar buttons */
    --gift-button: none;
    --sticker-button: block;
    --gif-button: block;
    --emoji-button: block;
    --message-options-button: block;
    --app-launcher-button: block;

    /* DM top bar buttons */
    --voice-call-button: block;
    --video-call-button: block;
    --create-group-button: block;
    --user-profile-button: block;

    /* Server top bar buttons */
    --server-thread-button: block;
    --server-notification-button: none;
    --server-pin-button: block;
    --server-hide-memberlist-button: block;

    /* Friend page buttons */
    --friends-button: block;
    --nitro-button: none;
    --message-requests-button: block;
    --shop-button: none;
    --play-again-buttons: block;

    /* Server List buttons */
    --server-discoverable-button: block;
    --server-create-button: block;

    /* Other Buttons */
    --activity-list-buttons: block;
    --inbox-button: block;
    --reactions-on-hover-message: none;

/*=================================================
=                                                 =
=                  Color Options                  =
=                                                 =
==================================================*/

    /* color of status indicators and window controls */
    --online-indicator: hsl(125, 60%, 60%); /* change to #23a55a for default green */
    --dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
    --idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
    --streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

    /* Message indicator colors */
    --indicator-hover: var(--hover); /* Hover color */
    --indicator-unread-border: hsl(224, 11%, 38%); /* Border of unread */
    --indicator-unread-background: hsl(224, 11%, 38%, 0.3); /* Background of unread */
    --indicator-unread-hover-background: hsl(224, 11%, 38%, 0.2); /* Hover background of unread */
    --indicator-unread-mention-border: hsl(190, 70%, 48%); /* Border of mention */
    --indicator-unread-mention-background: hsl(224, 11%, 38%, 0.3); /* Background of mention */
    --indicator-unread-mention-hover-background: hsl(224, 11%, 38%, 0.2); /* Hover background of mention */
    --indicator-selected-border: hsl(220, 2%, 64%); /* Border of selected */
    --indicator-selected-background: hsl(220, 2%, 64%, 0.3); /* Background of selected */
    --indicator-selected-hover-background: hsl(220, 2%, 64%, 0.2); /* Hover background of selected */
    --indicator-connected-border: hsl(145, 35%, 55%); /* Border of connected voice channel */
    --indicator-connected-background: hsla(145, 22%, 34%, 0.3); /* Background of connected voice channel */
    --indicator-connected-hover-background: hsl(145, 22%, 34%, 0.2); /* Hover backgroundd of connected voice channel */

}
