/**
 * @name Visual Addons
 * @author Krazytrain
 * @description Addons for visual refresh.
 **/
/*==================================================
=                Main Link  DONT DELETE            =
==================================================*/
@import url('https://krazytrain.github.io/Visual-Addons/Visual-Master/Addons/Radial Fix.css');
@import url('https://krazytrain.github.io/Visual-Addons/Visual-Master/Addons/Bug Fixes.css');
@import url('https://krazytrain.github.io/Visual-Addons/Visual-Master/Addons-Links.css');
:root { 
/*=================================================
=               Hide Button Options               =
=     If you want to hide a button put "none"     =
=    If you want to unhide a button put "block"   =
==================================================*/

    /* Chat bar buttons */
    --gift-button: none;
    --sticker-button: block;
    --gif-button: block;
    --emoji-button: block;
    --message-options-button: block;
    --app-launcher-button: block;

    /* Friend page buttons */
    --friends-button: block;
    --nitro-button: none;
    --message-requests-button: block;
    --shop-button: none;
    --play-again-buttons: block;

    /* Server List buttons */
    --server-discoverable-button: block;
    --server-create-button: block;

    /* Other Buttons */
    --activity-list-buttons: block;
    --reactions-on-hover-message: none;

/*=================================================
=                                                 =
=                  Color Options                  =
=                                                 =
==================================================*/

    /* color of status indicators and window controls */
    --online-indicator: hsl(125, 60%, 60%); /* change to #23a55a for default green */
    --dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
    --idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
    --streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

    /* Message indicator colors */
    --indicator-unread-border: hsla(var(--plum-10-hsl)); /* Border of unread */
    --indicator-unread-background: hsla(var(--plum-10-hsl)/0.25); /* Background of unread */
    --indicator-unread-hover-background: hsla(var(--plum-10-hsl)/0.35); /* Hover background of unread */
    --indicator-unread-mention-border: hsl(var(--red-400-hsl)); /* Border of mention */
    --indicator-unread-mention-background: hsla(var(--red-400-hsl)/0.25); /* Background of mention */
    --indicator-unread-mention-hover-background: hsla(var(--red-400-hsl)/0.35); /* Hover background of mention */
    --indicator-selected-border: hsla(var(--blue-300-hsl)); /* Border of selected */
    --indicator-selected-background: hsla(var(--blue-300-hsl)/0.25); /* Background of selected */
    --indicator-selected-hover-background: hsla(var(--blue-300-hsl)/0.35); /* Hover background of selected */
    --indicator-connected-border: hsla(var(--green-300-hsl)); /* Border of connected voice channel */
    --indicator-connected-background: hsla(var(--green-300-hsl)/0.15); /* Background of connected voice channel */
    --indicator-connected-hover-background: hsla(var(--green-300-hsl)/0.25); /* Hover backgroundd of connected voice channel */
 }
