/*=============================================
=                  Bug Fixes                  =
=============================================*/
:root {
    --album-name: none;
}
.vc-spotify-button-row {
    margin-top: 7px;
}
.vc-spotify-button-row button {
    margin: 0 2px;
}
#vc-spotify-player {
    padding: 12px;
    background-color: var(--background-base-low) !important;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#vc-spotify-titles div:last-child {
    display: var(--album-name);
    font-size: 12px !important;
}
#vc-spotify-progress-bar div[class^="barFill_"] {
    background-color: var(--interactive-active) !important;
}
#vc-spotify-progress-bar div[class^="sliderContainer_"] div[class^="bar_"] {
    height: 2px !important;
}
#vc-spotify-progress-bar {
    display: flex !important;
    flex-direction: row !important;
}
#vc-spotify-player div[class^="grabber_"] {
    position: relative;
    top: 1px;
    margin-left: 1px !important;
}
.vc-spotify-progress-time {
    margin-top: 5px;
    font-family: monospace;
}
*:has(> .vc-spotify-artist) {
    font-size: 12px !important;
}
#vc-spotify-song-title {
    font-size: 14px;
}

/* Voice Chat button placement */
.button__9db96, .divider__9db96 {
    margin-right: 2px;
}
.divider__9db96{
    display: none;
}

/* Capitalize channel names and titles*/
.name__2ea32, .title__9293f, .title__9293f {
    text-transform: capitalize !important;
}
/* Background */
.member_c8ffbb{
    background: transparent;
}
/* Side bar background */
.sidebar_c48ade, .wrapper_ef3116.guilds_c48ade, .itemsContainer_ef3116 {
    background: transparent!important;
}
.bg__960e4 {
    background: var(--bg-overlay-2, var(--background-secondary))!important;
}


