/*=============================================
=                  Bug Fixes                  =
=============================================*/
:root {
    --album-name: none;
}
.vc-spotify-button-row {
    margin-top: 7px;
}
.vc-spotify-button-row button {
    margin: 0 2px;
}
#vc-spotify-player {
    padding: 12px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#vc-spotify-titles div:last-child {
    display: var(--album-name);
    font-size: 12px !important;
}
#vc-spotify-progress-bar div[class^="barFill_"] {
    background-color: var(--interactive-active) !important;
}
#vc-spotify-progress-bar div[class^="sliderContainer_"] div[class^="bar_"] {
    height: 2px !important;
}
#vc-spotify-progress-bar {
    display: flex !important;
    flex-direction: row !important;
}
#vc-spotify-player div[class^="grabber_"] {
    position: relative;
    top: 1px;
    margin-left: 1px !important;
}
.vc-spotify-progress-time {
    margin-top: 5px;
    font-family: monospace;
}
*:has(> .vc-spotify-artist) {
    font-size: 12px !important;
}
#vc-spotify-song-title {
    font-size: 14px;
}

/* User Panel colors */
.visual-refresh .panels_c48ade {
    background: var(--bg-overlay-floating, var(--background-base-low));
}
#vc-spotify-player, .panel__5dec7, .wrapper_e131a9 {
    background: transparent !important;
    border-bottom: 1px solid var(--app-border-frame)!important;
}
.visual-refresh.custom-theme-background .button_e131a9.buttonColor_e131a9, 
.visual-refresh.custom-theme-background .button_e131a9 .buttonColor_e131a9 {
    background: var(--background-mod-subtle) !important;
    border: 1px solid var(--app-border-frame)!important;
}
/*Chat bar border */
.visual-refresh-chat-input .accessoryBar__74017 {
    border-top: 1px solid var(--app-border-frame, var(--background-mod-subtle));
}

/* Voice Chat button placement */
.button__9db96, .divider__9db96 {
    margin-right: 2px;
}
.divider__9db96{
    display: none;
}

/* Capitalize channel names and titles*/
.name__2ea32, .title__9293f, .title__9293f {
    text-transform: capitalize !important;
}

/* Background */
.member_c8ffbb{
    background: transparent!important;
}
/* Side bar background */
.sidebar_c48ade, .wrapper_ef3116.guilds_c48ade, .itemsContainer_ef3116 {
    background: transparent!important;
}
.bg__960e4 {
    background: var(--bg-overlay-2, var(--background-secondary))!important;
}

/* Spin */
.messageSpine_c19a55:before, .repliedMessageClickableSpine_c19a55 {
    bottom: -4px;
}
.font-size-12 .chatContent_f75fb0 .cozy_c19a55.hasThread_c19a55:after, 
.font-size-14 .chatContent_f75fb0 .cozy_c19a55.hasThread_c19a55:after, 
.font-size-15 .chatContent_f75fb0 .cozy_c19a55.hasThread_c19a55:after, 
.font-size-16 .chatContent_f75fb0 .cozy_c19a55.hasThread_c19a55:after {
    width: 2rem;
    left: 2.2rem;
    top: 3.2rem;
    margin-bottom: 8px;
}
/* Message spaces */
.cozy_c19a55.wrapper_c19a55 {
    padding-bottom: calc(var(--custom-message-spacing-vertical-container-cozy) + 8px)!important;
}
.group-spacing-16 .groupStart__5126c {
    --custom-group-spacing-start: 0.2rem!important;
    padding-top: 6px;
}
.group-spacing-16 .divider__5126c.beforeGroup__5126c {
    margin-bottom: 15px!important;
    margin-top: 0!important;
    top: .5rem!important;
}
/*Status Box*/
.outer_ab8609.user-profile-popout::after, .outer_ab8609:before, .outer_ab8609.user-profile-modal::after, .outer_ab8609::before{
    display: none;
}
.popover__2d0ab.statusPopover__2d0ab.wrapper_f7ecac, .outer_ab8609:after{
    display: none;
}

/*Call Container Box*/
.visual-refresh .callContainer_cb9592{
    border-top: none;
}
.videoControls_bfe55a .quickSelect_ebaca5{
    margin-top: 10px;
}
/*Typing icon*/
#app-mount .wrapper__44b0c .pointerEvents__44b0c[x="14.5"] {
    fill: rgba(0, 0, 0, 0.5) !important;
    width: 30px;
    height: 30px;
    x: -14!important;
    y: -16!important;

