/*=============================================
=                 Hide Buttons                =
=============================================*/

/* Chat bar buttons */
button[aria-label="More message options"] {
    display: var(--message-options-button);
}
button[aria-label="Send a gift"] {
    display: var(--gift-button);
}
button[aria-label="Open sticker picker"] {
    display: var(--sticker-button);
}
button[aria-label="Open GIF picker"] {
    display: var(--gif-button);
}
button[aria-label="Select emoji"] {
    display: var(--emoji-button);
}
.channelAppLauncher_e6e74f{
    display: var(--app-launcher-button);
}
/* DM top bar buttons */
.toolbar__9293f [aria-label="Start Voice Call"] .icon__9293f {
  display: var(--voice-call-button);
}
.toolbar__9293f [aria-label="Start Video Call"] .icon__9293f {
  display: var(--video-call-button);
}
.toolbar__9293f [aria-label="Show User Profile (Unavailable)"] .icon__9293f {
  display: var(--user-profile-button);
}
.toolbar__9293f [aria-label="Show User Profile"] .icon__9293f {
  display: var(--user-profile-button);
}
.toolbar__9293f [aria-label="Hide User Profile"] .icon__9293f {
  display: var(--user-profile-button);
}
.toolbar__9293f [aria-label="Add Friends to DM"] .icon__9293f {
  display: var(--create-group-button);
}

/* Server top bar buttons */
.toolbar__9293f [aria-label="Notification Settings"] .icon__9293f {
  display: var(--server-notification-button);
}
.toolbar__9293f [aria-label="Threads"] .icon__9293f {
  display: var(--server-thread-button);
}
.toolbar__9293f [aria-label="Pinned Messages"] .icon__9293f {
  display: var(--server-pin-button);
}
.toolbar__9293f [aria-label="Hide Member List"] .icon__9293f {
  display: var(--server-hide-memberlist-button);
}
/* Friend page buttons */
.friendsButtonContainer__35e86{
    display: var(--friends-button);
}
[href="/store"]{
    display: var(--nitro-button);
}
[href='/shop']
{
  display: var(--shop-button);
}
[href="/message-requests"]
{
  display: var(--message-requests-button);
}
.container__675e5 {
    display: var(--play-again-buttons);
}
/* Server List buttons */
.footer__214dc {
  display: var(--server-discoverable-button);
}
.tutorialContainer__650eb{
    display: var(--server-create-button);
}


/* Other buttons */
div[class^="buttonContainer"]>div>div {
    >div[aria-label^="Click to react with"],
    >div[aria-label^="Click to remove"],
    .separator_f84418{
        display: var(--reactions-on-hover-message);
    }
}
.popover__2d0ab.avatarPopover__2d0ab.wrapper_f7ecac{
    display: var(--reactions-on-hover-message);
}
.recentsIcon_c99c29 [aria-label="Inbox"] {
  display: var(--inbox-button);
}
.visual-refresh .button__85643[aria-label="Help"] {
  display: var(--help-button);
  display: none;
}
[class^=membersGroup_]:has([d^="M10.56 1.1c-.46.05-.7.53-.64.98.18"]),
div:not([class]):has([class^=facePile_]), .membersGroup_c8ffbb.container__13cf1.text__13cf1:has(.headerContainer__095fe) {
    display: var(--activity-list-buttons);
}
