/*=============================================
=                 Hide Buttons                =
=============================================*/

/* Chat bar buttons */



/* Friend page buttons */
.friendsButtonContainer__35e86{
    display: var(--friends-button);
}
[href="/store"]{
    display: var(--nitro-button);
}
[href='/shop']
{
  display: var(--shop-button);
}
[href="/message-requests"]
{
  display: var(--message-requests-button);
}
.container__675e5 {
    display: var(--play-again-buttons);
}
/* Server List buttons */
.footer__214dc {
  display: var(--server-discoverable-button);
}
.tutorialContainer__650eb{
    display: var(--server-create-button);
}


/* Other buttons */
div[class^="buttonContainer"]>div>div {
    >div[aria-label^="Click to react with"],
    >div[aria-label^="Click to remove"],
    .separator_f84418{
        display: var(--reactions-on-hover-message);
    }
}
.popover__2d0ab.avatarPopover__2d0ab.wrapper_f7ecac{
    display: var(--reactions-on-hover-message);
}
[class^=membersGroup_]:has([d^="M10.56 1.1c-.46.05-.7.53-.64.98.18"]),
div:not([class]):has([class^=facePile_]), .membersGroup_c8ffbb.container__13cf1.text__13cf1:has(.headerContainer__095fe) {
    display: var(--activity-list-buttons);
}
