
/*=============================================
=                  Indicators                 =
=============================================*/
:root {
  --indicator-border-size: 4px;
  --indicator-border-style: solid;
  --indicator-rounding: 10px;

  --bg-overlay-selected: transparent;
  --indicator-hover: transparent;
  --indicator-hover: var(--background-modifier-hover); /* Hover color */
  --indicator-unread-border: hsla(var(--plum-10-hsl)); /* Border of unread */
  --indicator-unread-background: hsla(var(--plum-10-hsl)/0.25); /* Background of unread */
  --indicator-unread-hover-background: hsla(var(--plum-10-hsl)/0.35); /* Hover background of unread */
  --indicator-unread-mention-border: hsl(var(--red-400-hsl)); /* Border of mention */
  --indicator-unread-mention-background: hsla(var(--red-400-hsl)/0.25); /* Background of mention */
  --indicator-unread-mention-hover-background: hsla(var(--red-400-hsl)/0.35); /* Hover background of mention */
  --indicator-selected-border: hsla(var(--blue-300-hsl)); /* Border of selected */
  --indicator-selected-background: hsla(var(--blue-300-hsl)/0.25); /* Background of selected */
  --indicator-selected-hover-background: hsla(var(--blue-300-hsl)/0.35); /* Hover background of selected */
  --indicator-connected-border: hsla(var(--green-300-hsl)); /* Border of connected voice channel */
  --indicator-connected-background: hsla(var(--green-300-hsl)/0.15); /* Background of connected voice channel */
  --indicator-connected-hover-background: hsla(var(--green-300-hsl)/0.25); /* Hover backgroundd of connected voice channel */
}


.interactive_bf202d.interactive__972a0:hover{
  background: none!important;
}

.containerDefault_c69b6d,
.containerDragBefore_c69b6d {
  margin: 0px 0;
  border-radius: var(--indicator-rounding);
  border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
}
.containerDefault_c69b6d .link__2ea32:not(.basicChannelRowLink__2ea32),
.containerDragBefore_c69b6d .link__2ea32 {
  background: transparent !important;
}
.containerDefault_c69b6d.wrapper__2ea32,
.containerDragBefore_c69b6d.wrapper__2ea32 {
  padding-left: 8px;
}
.containerDefault_c69b6d:hover,
.containerDragBefore_c69b6d:hover {
  background-color: var(--indicator-hover);
}
.containerDefault_c69b6d:has(.modeSelected__2ea32),
.containerDragBefore_c69b6d:has(.modeSelected__2ea32) {
  border-left-color: var(--indicator-selected-border);
  background-color: var(--indicator-selected-background) !important;
}
.containerDefault_c69b6d:has(.modeSelected__2ea32):hover,
.containerDragBefore_c69b6d:has(.modeSelected__2ea32):hover {
  background-color: var(--indicator-selected-hover-background) !important;
}
.containerDefault_c69b6d:has(.modeSelected__2ea32) .link__2ea32 svg,
.containerDragBefore_c69b6d:has(.modeSelected__2ea32) .link__2ea32 svg {
  color: var(--indicator-selected-border);
}
.containerDefault_c69b6d:has(.modeUnreadImportant__2ea32),
.containerDragBefore_c69b6d:has(.modeUnreadImportant__2ea32) {
  border-left-color: var(--indicator-unread-border);
  background-color: var(--indicator-unread-background);
}
.containerDefault_c69b6d:has(.modeUnreadImportant__2ea32):hover,
.containerDragBefore_c69b6d:has(.modeUnreadImportant__2ea32):hover {
  background-color: var(--indicator-unread-hover-background);
}
.containerDefault_c69b6d:has(.modeUnreadImportant__2ea32) .unread__2ea32,
.containerDragBefore_c69b6d:has(.modeUnreadImportant__2ea32) .unread__2ea32 {
  display: none;
}
.containerDefault_c69b6d:has(.mentionsBadge__933a1),
.containerDragBefore_c69b6d:has(.mentionsBadge__933a1) {
  border-left-color: var(--indicator-unread-mention-border);
  background-color: var(--indicator-unread-mention-background);
}
.containerDefault_c69b6d:has(.mentionsBadge__933a1):hover,
.containerDragBefore_c69b6d:has(.mentionsBadge__933a1):hover {
  background-color: var(--indicator-unread-mention-hover-background);
}
.containerDefault_c69b6d:has(.mentionsBadge__933a1) .link__2ea32 svg,
.containerDragBefore_c69b6d:has(.mentionsBadge__933a1) .link__2ea32 svg {
  color: var(--indicator-unread-mention-border);
}


.containerDefault_c69b6d:has(.modeConnected__2ea32),
.containerDragBefore_c69b6d:has(.modeConnected__2ea32) {
  border-left-color: var(--indicator-connected-border);
  background-color: var(--indicator-connected-background);
}
.containerDefault_c69b6d:has(.modeConnected__2ea32):hover,
.containerDragBefore_c69b6d:has(.modeConnected__2ea32):hover {
  background-color: var(--indicator-connected-hover-background);
}
.containerDefault_c69b6d:has(.modeConnected__2ea32) .link__2ea32 svg,
.containerDragBefore_c69b6d:has(.modeConnected__2ea32) .link__2ea32 svg {
  color: var(--indicator-connected-border);
}

/*Server Guide, Events, Channels and role, members list*/
.link__2ea32.basicChannelRowLink__2ea32:hover  {
    background: none;
}
.containerDefault_c69b6d.wrapper__2ea32.modeSelected__2ea32 {
  border-left-color: var(--indicator-selected-border);
  background-color: var(--indicator-selected-background) !important;
}
.containerDefault_c69b6d.wrapper__2ea32.modeSelected__2ea32 .link__2ea32 svg {
  color: var(--indicator-selected-border);
}
.sidebar__23e6b .item_b3f026.selected_b3f026  {
  border-left: var(--indicator-border-size) solid var(--indicator-selected-border);
  background-color: var(--indicator-selected-background) !important;
}

.containerDefault_c69b6d .container__5b40b{
    border-left: none;
}
.containerDefault_c69b6d, .containerDragBefore_c69b6d {
    margin: 0px 0;
    border-radius: var(--indicator-rounding);
    border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
}
.container__5b40b .containerDefault_c69b6d {
    border: none;
}

.categoryItem_c72b37 {
  margin: 2px 0;
  padding-left: 8px;
  border-radius: var(--indicator-rounding);
  border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
}
.categoryItem_c72b37:hover {
  background-color: var(--indicator-hover);
}
.categoryItem_c72b37:hover .itemInner_c72b37 {
  background-color: transparent;
}
.categoryItem_c72b37.selected__91a9d {
  border-left-color: var(--indicator-selected-border);
  color: var(--interactive-active);
  background-color: var(--indicator-selected-background);
}
.categoryItem_c72b37.selected__91a9d .itemInner_c72b37 {
  background-color: transparent;
}
.categoryItem_c72b37.selected__91a9d svg {
  color: var(--indicator-selected-border);
}

.channel__972a0 {
  max-width: unset;
  margin: 2px 0;
  padding: 0 0 0 8px;
  border-radius: var(--indicator-rounding);
  border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
}
.channel__972a0:hover {
  background-color: var(--indicator-hover);
}
.channel__972a0:has(.selected_bf202d) {
  border-left-color: var(--indicator-selected-border);
  background-color: var(--indicator-selected-background);
}
.channel__972a0:has(.selected_bf202d):hover {
  background-color: var(--indicator-selected-hover-background);
}
.channel__972a0:has(.selected_bf202d) .linkButtonIcon__972a0{
  color: var(--indicator-selected-border);
}
.channel__972a0:has(.highlighted__20a53) {
  border-left-color: var(--indicator-unread-border);
  background-color: var(--indicator-unread-background);
}
.channel__972a0:has(.highlighted__20a53):hover {
  background-color: var(--indicator-unread-hover-background);
}
.channel__972a0:has(.highlighted__20a53) .linkButtonIcon__972a0 {
  color: var(--indicator-unread-border);
}
.containerDefault_c69b6d:has(.modeUnreadLessImportant__2ea32) {
  border-left-color: var(--indicator-unread-border);
  background-color: var(--indicator-unread-background);
}
.containerDefault_c69b6d:has(.modeUnreadLessImportant__2ea32):hover {
  background-color: var(--indicator-unread-hover-background);
}
.containerDefault_c69b6d:has(.modeUnreadLessImportant__2ea32) .icon__2ea32, .containerDefault_c69b6d:has(.modeUnreadLessImportant__2ea32) .actionIcon_c69b6d {
  color: var(--indicator-unread-border);
}
.modeUnreadLessImportant__2ea32 .name__2ea32{
    color: var(--interactive-active)!important;
}
.unread__2ea32{
    display: none;
}
.channel__972a0 .interactive_bf202d {
  background: transparent;
}
.interactive_bf202d.interactive__972a0.interactiveSelected__972a0.selected_bf202d{
    background: var(--bg-overlay-selected,var(--background-modifier-selected));
}
.interactive_bf202d.interactive__972a0:hover{
    background: var(--bg-overlay-hover,var(--background-modifier-hover));
}

.containerDefault_c69b6d:has(.modeConnected__2ea32 .unread__2ea32) ,
.containerDragBefore_c69b6d:has(.modeConnected__2ea32 .unread__2ea32){
  border-left-color: var(--indicator-unread-border);
  background-color: var(--indicator-unread-background);
}
.containerDefault_c69b6d:has(.modeConnected__2ea32 .unread__2ea32):hover,
.containerDragBefore_c69b6d:has(.modeConnected__2ea32 .unread__2ea32):hover {
  background-color: var(--indicator-unread-hover-background);
}
.containerDefault_c69b6d:has(.modeConnected__2ea32 .unread__2ea32) .link__2ea32 svg,
.containerDragBefore_c69b6d:has(.modeConnected__2ea32 .unread__2ea32) .link__2ea32 svg {
  color: var(--indicator-unread-border);
}

.containerDefault_c69b6d:has(.modeConnected__2ea32 .unread__2ea32.unreadImportant__2ea32 ) ,
.containerDragBefore_c69b6d:has(.modeConnected__2ea32 .unread__2ea32.unreadImportant__2ea32){
  border-left-color: var(--indicator-unread-mention-border);
  background-color: var(--indicator-unread-mention-background);
}
.containerDefault_c69b6d:has(.modeConnected__2ea32 .unread__2ea32.unreadImportant__2ea32):hover,
.containerDragBefore_c69b6d:has(.modeConnected__2ea32 .unread__2ea32.unreadImportant__2ea32):hover {
  background-color: var(--indicator-unread-mention-hover-background);
}
.containerDefault_c69b6d:has(.modeConnected__2ea32 .unread__2ea32.unreadImportant__2ea32) .link__2ea32 svg,
.containerDragBefore_c69b6d:has(.modeConnected__2ea32 .unread__2ea32.unreadImportant__2ea32) .link__2ea32 svg {
  color: var(--indicator-unread-mention-border);
}

