/*=============================================
=             Message Lightlights             =
=============================================*/
.message__5126c.selected__5126c, .theme-dark.mouse-mode.full-motion .message__5126c:hover {
    border-radius: 10px;
}
/* Light Hightlights */
.theme-light.visual-refresh .mentioned__5126c {
    background: color-mix(in srgb, var(--background-mentioned), yellow 5%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-light.visual-refresh.message__5126c.mentioned__5126c.selected__5126c, 
.theme-light.visual-refresh.mouse-mode.full-motion .message__5126c.mentioned__5126c:hover, 
.theme-light.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.mentioned__5126c:hover, 
.theme-light.visual-refresh.visual-refresh .message__5126c.mentioned__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-mentioned), yellow 0%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-light.visual-refresh .highlighted__5126c,
.theme-light.visual-refresh .replying__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), white 10%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-light.visual-refresh.message__5126c.highlighted__5126c.selected__5126c, 
.theme-light.visual-refresh.mouse-mode.full-motion .message__5126c.highlighted__5126c:hover, 
.theme-light.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.highlighted__5126c:hover, 
.theme-light.visual-refresh.visual-refresh .message__5126c.highlighted__5126c.selected__5126c,
.theme-light.visual-refresh.message__5126c.replying__5126c.selected__5126c, 
.theme-light.visual-refresh.mouse-mode.full-motion .message__5126c.replying__5126c:hover, 
.theme-light.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.replying__5126c:hover, 
.theme-light.visual-refresh.visual-refresh .message__5126c.replying__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), white 0%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-light.visual-refresh .ephemeral__5126c {
    background: color-mix(in srgb, var(--brand-05a), white 10%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-light.visual-refresh.message__5126c.ephemeral__5126c.selected__5126c, 
.theme-light.visual-refresh.mouse-mode.full-motion .message__5126c.ephemeral__5126c:hover, 
.theme-light.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.ephemeral__5126c:hover, 
.theme-light.visual-refresh.visual-refresh .message__5126c.ephemeral__5126c.selected__5126c {
    background: color-mix(in srgb, var(--brand-05a), white 0%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-light.visual-refresh .automodMessage__5126c {
    background: color-mix(in srgb, var(--background-message-automod), white 5%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-light.visual-refresh.message__5126c.automodMessage__5126c.selected__5126c, 
.theme-light.visual-refresh.mouse-mode.full-motion .message__5126c.automodMessage__5126c:hover, 
.theme-light.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.automodMessage__5126c:hover, 
.theme-light.visual-refresh.visual-refresh .message__5126c.automodMessage__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-automod), white 0%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Darker Hightlights */
.theme-darker.visual-refresh .mentioned__5126c {
    background: color-mix(in srgb, var(--background-mentioned), white 10%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-darker.visual-refresh.message__5126c.mentioned__5126c.selected__5126c, 
.theme-darker.visual-refresh.mouse-mode.full-motion .message__5126c.mentioned__5126c:hover, 
.theme-darker.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.mentioned__5126c:hover, 
.theme-darker.visual-refresh.visual-refresh .message__5126c.mentioned__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-mentioned), white 7%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-darker.visual-refresh .highlighted__5126c,
.theme-darker.visual-refresh .replying__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), white 10%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-darker.visual-refresh.message__5126c.highlighted__5126c.selected__5126c, 
.theme-darker.visual-refresh.mouse-mode.full-motion .message__5126c.highlighted__5126c:hover, 
.theme-darker.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.highlighted__5126c:hover, 
.theme-darker.visual-refresh.visual-refresh .message__5126c.highlighted__5126c.selected__5126c,
.theme-darker.visual-refresh.message__5126c.replying__5126c.selected__5126c, 
.theme-darker.visual-refresh.mouse-mode.full-motion .message__5126c.replying__5126c:hover, 
.theme-darker.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.replying__5126c:hover, 
.theme-darker.visual-refresh.visual-refresh .message__5126c.replying__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), white 7%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-darker.visual-refresh .ephemeral__5126c {
    background: color-mix(in srgb, var(--brand-05a), white 10%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-darker.visual-refresh.message__5126c.ephemeral__5126c.selected__5126c, 
.theme-darker.visual-refresh.mouse-mode.full-motion .message__5126c.ephemeral__5126c:hover, 
.theme-darker.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.ephemeral__5126c:hover, 
.theme-darker.visual-refresh.visual-refresh .message__5126c.ephemeral__5126c.selected__5126c {
    background: color-mix(in srgb, var(--brand-05a), white 7%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-darker.visual-refresh .automodMessage__5126c {
    background: color-mix(in srgb, var(--background-message-automod), white 10%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-darker.visual-refresh.message__5126c.automodMessage__5126c.selected__5126c, 
.theme-darker.visual-refresh.mouse-mode.full-motion .message__5126c.automodMessage__5126c:hover, 
.theme-darker.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.automodMessage__5126c:hover, 
.theme-darker.visual-refresh.visual-refresh .message__5126c.automodMessage__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-automod), white 7%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Midnight Hightlights */
.theme-midnight.visual-refresh .mentioned__5126c {
    background: color-mix(in srgb, var(--background-mentioned), white 7%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-midnight.visual-refresh.message__5126c.mentioned__5126c.selected__5126c, 
.theme-midnight.visual-refresh.mouse-mode.full-motion .message__5126c.mentioned__5126c:hover, 
.theme-midnight.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.mentioned__5126c:hover, 
.theme-midnight.visual-refresh.visual-refresh .message__5126c.mentioned__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-mentioned), white 5%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-midnight.visual-refresh .highlighted__5126c,
.theme-midnight.visual-refresh .replying__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), white 7%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-midnight.visual-refresh.message__5126c.highlighted__5126c.selected__5126c, 
.theme-midnight.visual-refresh.mouse-mode.full-motion .message__5126c.highlighted__5126c:hover, 
.theme-midnight.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.highlighted__5126c:hover, 
.theme-midnight.visual-refresh.visual-refresh .message__5126c.highlighted__5126c.selected__5126c,
.theme-midnight.visual-refresh.message__5126c.replying__5126c.selected__5126c, 
.theme-midnight.visual-refresh.mouse-mode.full-motion .message__5126c.replying__5126c:hover, 
.theme-midnight.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.replying__5126c:hover, 
.theme-midnight.visual-refresh.visual-refresh .message__5126c.replying__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), white 5%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-midnight.visual-refresh .ephemeral__5126c {
    background: color-mix(in srgb, var(--brand-05a), white 7%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-midnight.visual-refresh.message__5126c.ephemeral__5126c.selected__5126c, 
.theme-midnight.visual-refresh.mouse-mode.full-motion .message__5126c.ephemeral__5126c:hover, 
.theme-midnight.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.ephemeral__5126c:hover, 
.theme-midnight.visual-refresh.visual-refresh .message__5126c.ephemeral__5126c.selected__5126c {
    background: color-mix(in srgb, var(--brand-05a), white 5%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-midnight.visual-refresh .automodMessage__5126c {
    background: color-mix(in srgb, var(--background-message-automod), white 7%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-midnight.visual-refresh.message__5126c.automodMessage__5126c.selected__5126c, 
.theme-midnight.visual-refresh.mouse-mode.full-motion .message__5126c.automodMessage__5126c:hover, 
.theme-midnight.visual-refresh.mouse-mode.full-motion.visual-refresh .message__5126c.automodMessage__5126c:hover, 
.theme-midnight.visual-refresh.visual-refresh .message__5126c.automodMessage__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-automod), white 5%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Custom themes Light Hightlights */
.theme-light.visual-refresh.custom-theme-background .mentioned__5126c {
    background: color-mix(in srgb, var(--background-mentioned), yellow 5%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-light.visual-refresh.custom-theme-background.message__5126c.mentioned__5126c.selected__5126c, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.mentioned__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.mentioned__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.visual-refresh .message__5126c.mentioned__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-mentioned), white 0%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-light.visual-refresh.custom-theme-background .highlighted__5126c,
.theme-light.visual-refresh.custom-theme-background .replying__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), blue 10%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-light.visual-refresh.custom-theme-background.message__5126c.highlighted__5126c.selected__5126c, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.highlighted__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.highlighted__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.visual-refresh .message__5126c.highlighted__5126c.selected__5126c,
.theme-light.visual-refresh.custom-theme-background.message__5126c.replying__5126c.selected__5126c, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.replying__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.replying__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.visual-refresh .message__5126c.replying__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), blue 7%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-light.visual-refresh.custom-theme-background .ephemeral__5126c {
    background: color-mix(in srgb, var(--brand-05a), blue 10%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-light.visual-refresh.custom-theme-background.message__5126c.ephemeral__5126c.selected__5126c, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.ephemeral__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.ephemeral__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.visual-refresh .message__5126c.ephemeral__5126c.selected__5126c {
    background: color-mix(in srgb, var(--brand-05a), blue 7%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-light.visual-refresh.custom-theme-background .automodMessage__5126c {
    background: color-mix(in srgb, var(--background-message-automod), red 10%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-light.visual-refresh.custom-theme-background.message__5126c.automodMessage__5126c.selected__5126c, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.automodMessage__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.automodMessage__5126c:hover, 
.theme-light.visual-refresh.custom-theme-background.visual-refresh .message__5126c.automodMessage__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-automod), red 7%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Custom themes Dark Hightlights */
.theme-dark.visual-refresh.custom-theme-background .mentioned__5126c {
    background: color-mix(in srgb, var(--background-mentioned), white 15%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-dark.visual-refresh.custom-theme-background.message__5126c.mentioned__5126c.selected__5126c, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.mentioned__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.mentioned__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.visual-refresh .message__5126c.mentioned__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-mentioned), white 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-dark.visual-refresh.custom-theme-background .highlighted__5126c,
.theme-dark.visual-refresh.custom-theme-background .replying__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), white 15%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-dark.visual-refresh.custom-theme-background.message__5126c.highlighted__5126c.selected__5126c, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.highlighted__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.highlighted__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.visual-refresh .message__5126c.highlighted__5126c.selected__5126c,
.theme-dark.visual-refresh.custom-theme-background.message__5126c.replying__5126c.selected__5126c, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.replying__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.replying__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.visual-refresh .message__5126c.replying__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-highlight), white 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-dark.visual-refresh.custom-theme-background .ephemeral__5126c {
    background: color-mix(in srgb, var(--brand-05a), white 15%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-dark.visual-refresh.custom-theme-background.message__5126c.ephemeral__5126c.selected__5126c, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.ephemeral__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.ephemeral__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.visual-refresh .message__5126c.ephemeral__5126c.selected__5126c {
    background: color-mix(in srgb, var(--brand-05a), white 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-dark.visual-refresh.custom-theme-background .automodMessage__5126c {
    background: color-mix(in srgb, var(--background-message-automod), white 15%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme-dark.visual-refresh.custom-theme-background.message__5126c.automodMessage__5126c.selected__5126c, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion .message__5126c.automodMessage__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.mouse-mode.full-motion.visual-refresh .message__5126c.automodMessage__5126c:hover, 
.theme-dark.visual-refresh.custom-theme-background.visual-refresh .message__5126c.automodMessage__5126c.selected__5126c {
    background: color-mix(in srgb, var(--background-message-automod), white 13%)!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Thread Highlights*/
/* Rainbow Threads Dark Theme */
.theme-dark ul[aria-label$=" threads"] > li:nth-child(1n) {
  --channels-default: rgba(243, 139, 168, 0.7);
  --text-primary: #f38ba8;
  --interactive-hover: #f38ba8;
  --interactive-active: #f38ba8;
}
.theme-dark ul[aria-label$=" threads"] > li:nth-child(2n){
  --channels-default: rgba(250, 179, 135, 0.7);
  --text-primary: #fab387;
  --interactive-hover: #fab387;
  --interactive-active: #fab387;
}
.theme-dark ul[aria-label$=" threads"] > li:nth-child(3n){
  --channels-default: rgba(249, 226, 175, 0.7);
  --text-primary: #f9e2af;
  --interactive-hover: #f9e2af;
  --interactive-active: #f9e2af;
}
.theme-dark ul[aria-label$=" threads"] > li:nth-child(4n){
  --channels-default: rgba(166, 227, 161, 0.7);
  --text-primary: #a6e3a1;
  --interactive-hover: #a6e3a1;
  --interactive-active: #a6e3a1;
}
.theme-dark ul[aria-label$=" threads"] > li:nth-child(5n){
  --channels-default: rgba(137, 180, 250, 0.7);
  --text-primary: #74c7ec;
  --interactive-hover: #74c7ec;
  --interactive-active: #74c7ec;
}
.theme-dark ul[aria-label$=" threads"] > li:nth-child(6n){
  --channels-default: rgba(203, 166, 247, 0.7);
  --text-primary: #cba6f7;
  --interactive-hover: #cba6f7;
  --interactive-active: #cba6f7;
}
/* Rainbow Threads Light Theme */
.theme-light ul[aria-label$=" threads"] > li:nth-child(1n) {
  --channels-default: rgba(190, 35, 164, 0.7);
  --text-primary: #be23a4;
  --interactive-hover: #bd23a3;
  --interactive-active: #bd23a3;
}
.theme-light ul[aria-label$=" threads"] > li:nth-child(2n){
  --channels-default: rgba(236, 147, 13, 0.7);
  --text-primary: #ec930db3;
  --interactive-hover: #ec930db3;
  --interactive-active: #ec930db3;
}
.theme-light ul[aria-label$=" threads"] > li:nth-child(3n){
  --channels-default: rgba(201, 201, 32, 0.7);
  --text-primary: #c9c920d0;
  --interactive-hover: #c9c920d0;
  --interactive-active: #c9c920d0;
}
.theme-light ul[aria-label$=" threads"] > li:nth-child(4n){
  --channels-default: rgba(29, 204, 13, 0.7);
  --text-primary: #1dcc0db3;
  --interactive-hover: #1dcc0db3;
  --interactive-active: #1dcc0db3;
}
.theme-light ul[aria-label$=" threads"] > li:nth-child(5n){
  --channels-default: rgba(137, 180, 250, 0.7);
  --text-primary: #74c7ec;
  --interactive-hover: #74c7ec;
  --interactive-active: #74c7ec;
}
.theme-light ul[aria-label$=" threads"] > li:nth-child(6n){
  --channels-default: rgba(122, 33, 230, 0.7);
  --text-primary: #7a21e6b3;
  --interactive-hover: #7a21e6b3;
  --interactive-active: #7a21e6b3;
}



